<div class = "cart">
  <div class="cart-section cart-section--top">
    <h2 class="cart-title marginless--top">Your cart</h2>
    <button class="cart__close-button">
      <%= image_tag "ui/close.svg", width: 16 %>
    </button>
    <div class="row between-xs middle-xs">
      <div class="col-xs-9">
      </div>
    </div>
  </div>

  <div class="cart-form">
    <div class="cart-item-container cart-section"></div>
  </div>

  <div class="cart-bottom">
    <div class="cart-info clearfix cart-section">
      <div class="cart__pricing">
        <div class="cart__price-label">Total</div>
        <div class="cart__price">
          <span class="pricing pricing--no-padding"></span>
        </div>
      </div>
    </div>
  
    <div class="cart-actions-container cart-section type--center">
      <div class="cart-discount-notice cart-info__small">Shipping fees will be calculated during checkout.</div>
      <input type="submit" class="button--checkout" id="checkout" name="checkout" value="Checkout">
    </div>
  </div>
</div>

<script id="CartItemTemplate" type="text/template">
  <div class="cart-item">
    <div class="cart-item__img"></div>
    <div class="cart-item__content">
      <div class="cart-item__content-row">
        <div class="cart-item__title"></div>
        <div class="cart-item__variant-title"></div>
      </div>
      <div class="cart-item__content-row">
        <div class="cart-item__pricing">
          <div class="cart-item__quantity-container">
            <button class="btn--seamless quantity-decrement" type="button"><span>-</span><span class="visuallyhidden">Decrement</span></button>
            <input class="cart-item__quantity" type="number" min="0" aria-label="Quantity">
            <button class="btn--seamless quantity-increment" type="button"><span>+</span><span class="visuallyhidden">Increment</span></button>
          </div>
          <span class="cart-item__price"></span>
        </div>
      </div>
    </div>
  </div>
</script>