.cart__toggle {
  font-family: $body-font;
  font-style: normal;
  padding: 0.25rem 0.5rem;
  width: auto;
}

input[type=submit].button--checkout {
  width: 100%;
}

.cart {
  position: fixed;
  width: 100%;
  max-width: 350px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 3;
  background: white;
  border-radius: 1px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;

  &.js-active {
    transform: translateX(0);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
  }
}

.cart-section {
  position: relative;
  padding: 20px;
}

.cart-section--top {
  z-index: 5;
}

.cart-title {
  color: $accent-color;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
}

.btn--close {
  background: transparent;
  text-align: right;

  &:hover {
    background-color: $mint-gray;
  }
}

.cart-form {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 70px 0 140px 0;
}

.cart-item-container {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  perspective: 400px;
  perspective-origin: 50% 0px;
}

.cart-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  &.js-hidden {
    opacity: 0;
  }

  &.js-working:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 2;
  }
}

.cart-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
}

.cart-item__content {
  width: 100%;
  padding-left: 75px;
}

.cart-item__content-row {
  margin-bottom: 5px;
}

.cart-item__variant-title {
  font-size: 0.8125rem;
}

.cart-item__quantity-container {
  display: flex;
}

.quantity-decrement, .quantity-increment {
  display: block;
  width: auto;
  padding: 0 0.5rem;
  border: none;
  flex: 0 0 auto;
  background-color: transparent;
  color: $almost-black;
  background-color: $mint-gray;

  &:hover {
    background-color: $accent-color;
    color: $white;
  }
}

.cart-item__quantity {
  width: 2rem;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  display: block;
  padding: 0;
  border: 1px solid $mint-gray;
  flex: 0 1 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item__price {
  line-height: 23px;
  float: right;
  font-weight: bold;
}

.cart-bottom {
  border-top: 1px solid $mint-gray;
}

.cart-info {
  padding: 15px 20px 10px;
}

.cart-info__total {
}

.cart-info__small {
  font-size: 11px;
}

.cart-info__pricing {
  text-align: right;
}

.cart-discount-notice {
  color: #999;
  margin-bottom: 10px;
}

.cart-actions-container {
  padding-top: 5px;
}

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: black;
}

.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}