/* LOADER */
.loader {
  @include loader02;
  margin: auto;
}

/* STRIPE */
.stripe {
  position: fixed;
  height: 5px;
  width: 100%;
  background-color: $accent-color;
  z-index: 100;
}


hr {
  margin: $gutter 0;
  border-style: solid;
  border-color: $gray;
  border-width: 1px;
}



/* LOGO */
.logo__container {
  display: flex;
}

.logo {
  display: block;
  flex: 0 0 auto;
  height: 1.7rem;
  width: auto;

  @include tablet-landscape {
    height: 1.7rem;
  }
}

.logo__image {
  height: inherit;
}

a.announcement {
  font-size: 0.825rem;
  padding: 0.25rem 0.5rem;
  margin-left: 1rem;
  background-color: $mint-gray;

  &:hover {
    background-color: $accent-color;
    color: $white;
  }
}



/* BUY PANEL */
.buy-panel {
  @include tablet-landscape {
    display: flex;
    align-items: center;
  }
}

.buy-panel__description {
  flex: 1 1 auto;
  text-align: left;
}

.buy-panel__image {
  flex: 0 0 50%;
}





/* NAV */
a.offcanvas-top-open {
  display: block;

  @include tablet-landscape {
    display: none;
  }
}

img.offcanvas-top-close {
  cursor: pointer;
  width: 2rem;
  flex: 0 0 auto;
  font-family: $body-font;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.7;
  margin: auto;
  padding: 4rem 0;
}

.offcanvas-top {
  background-color: $offcanvas-background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 1rem solid #EBEBF0;
}

img.offcanvas__logo__image {
  flex: 0 1 33%;
  margin: auto;
  width: 6rem;
}

a.offcanvas__logo {
  flex: 0 1 25%;
}

ul.mobile-nav {
  flex: 1 1 auto;
  text-align: center;
  width: 100%;
}

li.mobile-nav__item {
  margin-bottom: 1rem;
}

nav.main-nav {
  display: none;

  @include tablet-landscape {
    display: block;
  }
}

nav.main-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav.main-nav ul > li {
  margin-left: $gutter;
}

a.main-nav__link {
  color: $body-font-color;
}

a.main-nav__link:hover,
a.main-nav__link--active {
  border-bottom: 2px solid $body-font-color;
}

a.main-nav__link--highlight {
  padding: 0.5rem;
  background-color: $accent-color;
  color: #fff;

  &:hover {
    background-color: $accent-color;
    border-bottom: none;
  }
}

nav.footer-nav {
  display: flex;

  @media screen and (max-width: $end-tablet-portrait) {
    flex-direction: column;
  }
}

.footer-nav__section {
  flex: 1 0 auto;
  margin-right: $gutter;
}

ul.footer-list {}

ul.footer-list li {}

ul.footer-list li a {
  &:hover {
    border-bottom: 1px solid $body-font-color;
  }
}


.made-in-germany {
  display: none;
  position: absolute;
  left: -140px;
  background-color: $white;
  padding: 0.25rem 0.5rem;
  opacity: 0;
  animation: slide-in--left 0.5s forwards, fade-in 0.5s forwards;
  animation-delay: 3s;

  @include tablet-portrait {
    display: block;
    transform-origin: left bottom;
    transform: rotate(90deg);
    top: 1rem;
  }

  @include desktop {
    transform: none;
    top: initial;
  }
}

.black {
  display: block;
  background-color: #000;
}

.red {
  display: block;
  background-color: #ff0000;
}

a.made-in-germany__link {
  @include transition;
  display: block;
}

a.made-in-germany__link:hover {
  transform: rotate(7deg);
}

img.made-in-germany__logo {
  width: 100px;

  @include tablet-portrait {
    width: 180px;
  }
}

/* HERO */
.hero {
  background-color: #ddecf3;
}

.hero__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include tablet-landscape {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.hero__title {
  text-align: center;

  @include tablet-landscape {
    text-align: left;
  }
}

.hero__title::after {
  margin-left: auto;
  margin-right: auto;

  @include tablet-landscape {
    margin-left: 0;
    margin-right: 0;
  }
}

aside.hero__text {
  flex: 0 0 auto;
  background-color: #DCEAF3;
  padding: $gutter;
  width: 100%;

  @include tablet-landscape {
    flex: 0 0 33%;
  }

  @include desktop {
    padding: $gutter $gutter * 3;
  }
}

.hero__text-container {
  border-top: 2px solid $white;
  flex: 1 1 auto;

  @include tablet-landscape {
    border: none;
  }
}

.hero__text__inner h2 {
  color: $body-font-color;
}

.hero__text {
  margin: auto;
  text-align: center;

  @include tablet-landscape {
    text-align: left;
    width: 350px;
  }

  @include desktop {
  }
}

.hero__image {
  flex: 0 1 auto;
  overflow: hidden;
  z-index: 0;
  min-width: 0;

  @include tablet-landscape {
    order: 2;
  }
}

.hero__image img {
  max-height: calc(100vh - 5rem);
}





/* BUTTONS */
button,
.button,
input[type="submit"] {
  appearance: none;
  background-color: $accent-color;
  border: none;
  color: $white;
  display: inline-block;
  font-family: $header-font;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6rem;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: 140ms ease-in-out;
  width: 100%;

  &:hover {
    background-color: $alternative-accent-color;
  }

  @include tablet-portrait {
    width: auto;
  }
}





/* LISTS */
ul {
  list-style: none;
  padding: 0;
}

ul.inline-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

ul.inline-list--center {
  justify-content: center;
}

ul.inline-list li {
  flex: 0 0 auto;
  margin-right: $gutter / 2;
  margin-bottom: $gutter / 2;

  &:last-child {
    margin-right: 0;
  }
}





/* SECTIONS */
.supplier {
  padding-top: $gutter-large;
  padding-bottom: $gutter-large;

  @include tablet-portrait {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-direction: row;
  }
}

.feature {
  align-items: flex-start;
  padding-top: $gutter-large;
  padding-bottom: $gutter-large;

  @include tablet-portrait {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-direction: row;
  }
}

.supplier__figure {
  @include tablet-portrait {
    display: flex;
    padding: 2rem 2rem 0 0;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    flex: 0 0 33%;
  }
}

.feature__figure {
  @include tablet-portrait {
    padding: 2rem 2rem 0 0;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    flex: 0 0 33%;
  }
}

.supplier__logo {
  margin: auto;
  max-width: 300px;
  width: 100%;

  @include tablet-portrait {
  }
}

.supplier__description {
  width: 100%;

  @include tablet-portrait {
    padding: 2rem 0 0 2rem;
    border-top: 1px solid #ddd;
    flex: 1 1 auto;
  }
}

.feature__description {
  width: 100%;

  @include tablet-portrait {
    padding: 2rem 0 0 2rem;
    border-top: 1px solid #ddd;
    flex: 1 1 auto;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 2rem 0;
  
  @include tablet-portrait {
    padding: 4rem 0;
  }
}

.panel--no-padding {
  @include tablet-portrait {
    padding: 0;
  }
}

.panel--odd {
}

.panel--emphasis {
  background-color: $title-background;
}

.panel--border-bottom {
  border-bottom: 1rem solid $background-color;
}

.panel--h100 {
  min-height: 100vh;
}

.panel--h75 {
  min-height: 75vh;
}

.panel--h50 {
  min-height: 50vh;
}

.panel--intro {
  min-height: calc(100vh - 6rem);
}

.panel--reverse {
  @include tablet-landscape {
    flex-direction: row-reverse;
  }
}

.panel__inner {
  @media screen and (min-width: $start-tablet-landscape) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
  }
}

.panel__inner--reverse {
  flex-direction: column;

  @include tablet-landscape {
    flex-direction: row-reverse;
  }
}

.panel__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  padding: $gutter 0;

  @media screen and (min-width: $start-tablet-landscape) {
    flex: 0 0 33%;
    padding: $gutter * 2 2rem;
  }
}

.floating-panel {
  background-color: $panel-color;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  padding: $gutter;

  @media screen and (min-width: $start-tablet-portrait) {
    position: absolute;
    max-width: 24rem;
  }
}

.floating-panel--left {
  @media screen and (min-width: $start-tablet-portrait) {
    left: $gutter;
  }
}

.floating-panel--top {
  @media screen and (min-width: $start-tablet-portrait) {
    top: $gutter;
  }
}

.panel__text__inner {
  max-width: 80rem;
}

.panel__text__inner h1,
.panel__text__inner h2 {
  color: $body-font-color;
}

.panel__text .button {
}


.panel__image {
  position: relative;
  background-position: center;
  background-size: cover;

  @include tablet-landscape {
    flex: 1 1 auto;
    width: 1px;
  }
}

.panel__image--cover {
  align-self: stretch;
}

.panel__image--center {
  align-self: center;
}

.panel__image img {
  margin: auto;
}

.panel__image--fade.panel--even .panel__image {
  &:after {
    background: linear-gradient( 90deg, rgba(220, 234, 243, 1), rgba(220, 234, 243, 0) );
  }
}

.panel--odd .panel__inner--reverse .panel__image--fade {
  &:after {
    background: linear-gradient( 90deg, rgba(236, 241, 249, 1), rgba(236, 241, 249, 0) );
  }

  @media screen and (max-width: $end-tablet-portrait) {
    &:after {
      bottom: 0;
      height: 10vh;
      left: 0;
      right: 0;
      width: 100%;
      background: linear-gradient( 0deg, rgba(236, 241, 249, 0), rgba(236, 241, 249, 1) );
    }
  }
}

.panel .panel__inner .panel__image--fade {
  &:after {
    right: 0;
    background: linear-gradient( 90deg, rgba(220, 234, 243, 0), rgba(220, 234, 243, 1) );
  }

  @media screen and (max-width: $end-tablet-portrait) {
    &:after {
      top: auto;
      bottom: 0;
      height: 10vh;
      left: 0;
      right: 0;
      width: 100%;
      background: linear-gradient( 0deg, rgba(220, 234, 243, 1), rgba(220, 234, 243, 0) );
    }
  }
}

.panel--fade.panel--odd.panel--reverse .panel__image {
  &:after {
    right: 0;
    background: linear-gradient( 90deg, rgba(236, 241, 249, 0), rgba(236, 241, 249, 1) );
  }
}

/* COLOR ICONS */
.color-icon {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
}

.color-icon--button {
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    transition: 140ms ease-in-out;
  }
}

.color-icon--active {
  transform: scale(1.6);
  transition: 140ms ease-in-out;

  &:hover {
    transform: scale(1.6);
    transition: 140ms ease-in-out;
  }
}



/* FOOTER */

footer h5,
footer p,
footer a {
  color: inherit;
}

footer a.link {
  &:hover {
    border-color: $body-font-color;
  }
}




/* TESTIMONIALS */
.testimonial {
  padding: $gutter-small;
  text-align: center;
  border: 1px solid $accent-color;
  background-color: #fff;
  width: 100%;
  margin: $gutter 0;

  @include tablet-portrait {
  }

  @include desktop {
    max-width:40rem;
    padding: $gutter;
    margin: $gutter auto;
  }
}

h3.testimonial__quote {
  font-size: 1rem;
  font-family: "merriweather", "Georgia", "serif";
  font-style: italic;
  color: #333;

  @media screen and (min-width: $start-tablet-landscape) {
    font-size: 1rem;
  }
}

h5.testimonial__author {
  color: #aaa;
}


/* GALLERY */
.gallery {
  position: relative;
  background-color: #fff;
  display: flex;
  border-top: 1rem solid $body-border-color;
  border-bottom: 1rem solid $body-border-color;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.gallery__item {
  position: relative;
  margin-right: 1rem;
  flex: 0 0 auto;
  transition: ease-in-out 200ms;
}

.gallery__item:first-child {
  // max-width: 80vw;
}

.gallery__item:last-child {
  margin-right: 0;
}

.gallery__item > img {
  width: 80vw;

  @media screen and (min-width: 1920px) {
    width: 40vw;
  }
}

.gallery__item__title {
  background-color: $background-color;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5rem 1rem;
  color: #aaa;

  @include tablet-portrait {
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #B6BE00;
    bottom: 1rem;
    left: 1rem;
  }
}

.gallery__next {
  position: absolute;
  right: 0;
  width: 50px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.5;
}




/* MAP */

.map-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  @include tablet-portrait {
    flex-direction: row;
  }
}

.map__sidebar {
  flex: 0 0 400px
}

#map {
  flex: 1 1 auto;
  min-height: 75vh;
  border-bottom: 16px solid $white;
}

.map__list {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
}

@mixin grid-border-right() {
  border-right: 16px solid $white;
}

.map__list__item {
  background-color: $lighter-gray;
  border-bottom: 16px solid $white;
  color: $body-font-color;
  flex: 1 0 100%;
  padding: 0 2rem;

  @include tablet-portrait {
    flex: 0 0 auto;
    width: 50%;
    @include grid-border-right;

    &:nth-child(2n) {
      border-right: none;
    }
  }

  @include tablet-landscape {
    flex: 0 0 auto;
    width: 33.3333333%;
    @include grid-border-right;

    &:nth-child(2n) {
      @include grid-border-right;
    }

    &:nth-child(3n) {
      border-right: none;
    }
  }

  @include desktop {
    flex: 0 0 auto;
    width: 25%;
    @include grid-border-right;

    &:nth-child(2n) {
      @include grid-border-right;
    }

    &:nth-child(3n) {
      @include grid-border-right;
    }

    &:nth-child(4n) {
      border-right: none;
    }
  }
}

.map__list__item__link {
  color: inherit;
  display: flex;
  flex-direction: column;
  padding: 0 $gutter;
}

.map__list__item__link:hover {
  background-color: $accent-color;
  color: #fff;
}

.map__list__item__title {
  color: inherit;
}

.map__list__item__action {
  opacity: 0.3;
}

.map__list__item:hover .map__list__item__action {
  opacity: 1;
}

.popup__content {
  font-family: $body-font;
  font-size: 1rem;
  font-weight: normal;
}

.popup__content h1,
.popup__content h2,
.popup__content h3,
.popup__content h4,
.popup__content h5,
.popup__content h6 {
  color: $body-font-color;
}





/* HERO ICON */

.hero-icon {
  margin: auto;
  padding: $gutter-large $gutter;
}





/* RESPONSIVE VIDEOS */
iframe.responsive--16x9 {
  max-width: 100%;
  max-height: calc(100vw / 16 * 9);
}

iframe.responsive--4x3 {
  max-width: 100%;
  max-height: calc(100vw / 16 * 9);
}




/* TITLE */
.title__container {
  position: relative;
  width: 100%;
  background-color: $title-background;
  padding: $gutter-large*2 0;
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include desktop {
    padding: $gutter-large*3 0;
  }
}

.title__inner {
  width: 100%;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  width: 100%;
  max-width: 85rem;
  min-width: 0px;
  margin-bottom: $gutter;

  @include tablet-portrait {
    margin: $gutter;
    flex: 0 0 265px;
  }

  @include tablet-landscape {
    flex: 0 0 350px;
  }
}

.card__link {
  display: block;
}

.card:hover .card__image {
  transform: scale(1.1);
}

.card__description {
  @include transition;
  background-color: $card-description-background;
  padding: 2rem;
  border-bottom: 1px solid $header-background;
  flex: 1 0 auto;
}

.card:hover .card__description {
  border-color: $accent-color;
}

.card__figure {
  overflow: hidden;
}

.card__image {
  min-width: 1px;
  @include transition;
}

.card__image:hover img {

}

.image-link {
  transition: $transition;
  display: block;
  border: 8px solid $image-link-border-color;
}

.image-link:hover {
  border-color: $image-link-border-color-hover;
}





/* SPECIFICATIONS */
ul.spec-list {}

li.spec-list__item {
  margin-bottom: 2rem;
}


/* TABS */
ul.tab-titles {
  font-family: $header-font;
  letter-spacing: 1px;
  font-style: italic;
  display: flex;
  border: 2px solid $tabs-accent-color;
}

li.tab-title {
  @include transition;
  flex: 1 0 auto;
  text-align: center;
}

li.tab-title a {
  padding: 0.5rem 1rem;
  color: inherit;
  display: block;
  width: 100%;
}

li.tab-title--active {
  background-color: $tabs-accent-color;
  color: #fff;
}

li.tab-title[not tab-title--active]:hover {
  background-color: $white;
}

.tab {
  display: none;
}

.tab--active {
  display: block;
}



/* RIBBON */
.ribbon {
  color: inherit;
  position: fixed;
  bottom: 50px;
  right: -50px;
  background-color: #fff;
  display: flex;
  z-index: 9999;
  transform: rotate(-45deg);
  height: 2rem;
  align-items: center;
  width: 250px;
  justify-content: center;
  box-shadow: 0px 1px 5px 0px #ddd;
}

.ribbon:hover {
  background-color: $accent-color;
  color: $white;
}

.ribbon__flag {
  flex: 0 0 auto;
  height: 1rem;
  margin-right: 0.5rem;
}

.ribbon__text {
  flex: 0 0 auto;
}





/* ANCHOR LINKS */
.anchor-target::before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 4em;
  margin-top: -4em 
}





/* SHOP FEATURES */
.shop-features {
  margin-top: 2rem;

  @include tablet-portrait {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.shop-features__item {
  text-align: center;
  width: 100%;

  @include tablet-portrait {
    flex: 1 1;
    padding: 2rem 2rem 0 2rem;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}

.shop-features__item__image {
  width: 100px;
  margin: auto;

  @include tablet-portrait {
    width: 80px;
  }

  @include desktop {
    width: 100px;
  }
}





/*  */
.wheretobuy {
  @include tablet-portrait {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.wheretobuy__item {
  text-align: center;
  width: 100%;

  @include tablet-portrait {
    flex: 1 1;
    padding: 2rem 2rem 0 2rem;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}

.wheretobuy__item__image {
  width: 200px;
  margin: auto;

  @include tablet-portrait {
    width: 150px;
  }

  @include desktop {
    width: 200px;
  }
}

.payment-icon {
  width: 70px;
}


/* GENERAL ITEM */
.item {
  @include tablet-portrait {
    display: flex;
    flex-direction: row;
  }
}

.item__figure {
  @include tablet-portrait {
    flex: 0 0 33%;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 2rem 2rem 0 0;
    display: flex;
    align-items: center;
  }
}

.item__image {
  margin: auto;
  width: 100%;
  padding: 20vw;
  @include tablet-portrait {
    width: 150px;
    padding: 0;
  }
}

.item__description {
  @include tablet-portrait {
    flex: 1 1 auto;
    border-top: 1px solid #ddd;
    padding: 2rem 0 0 2rem;
  }
}



/* SUPPORT-ITEMS */

.support-item {
  @include tablet-portrait {
    display: flex;
    flex-direction: row;
  }
}

.support-item__figure {
  @include tablet-portrait {
    flex: 0 0 33%;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 2rem 2rem 0 0;
    display: flex;
    align-items: center;
  }
}

.support-item__image {
  margin: auto;
  width: 100%;
  padding: 20vw;
  @include tablet-portrait {
    width: 150px;
    padding: 0;
  }
}

.support-item__description {
  @include tablet-portrait {
    flex: 1 1 auto;
    border-top: 1px solid #ddd;
    padding: 2rem 0 0 2rem;
  }
}



/* LANGUAGE SELECTOR */
.language-selector {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: $mint-gray;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 2px solid $white;
  text-transform: uppercase;
  
  @include tablet-portrait {
    border-right: none;
  }
}

.language-selector__label {
  display: flex;
  background-color: $white;
  padding: 0.5rem 1rem;
}

.language-selector__item {
  display: block;
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  color: #999;
}

.language-selector__item--active {
  color: $almost-black;
}

.language-selector__item:hover {
  background-color: $almost-black;
  color: $white;
}



/* ADD TO CART FORM */
.product-select {

}

.collection {
  display: flex; 
}

.product {
  display: block;

  @include tablet-portrait {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.product__image-container {
  flex: 0 0 auto;
  
  @include tablet-portrait {
    width: 50%;
  }
}

.product__image {
  margin: auto;
}

.product__details {
  text-align: left;

  @include tablet-portrait {
    flex: 0 0 250px;
  }

  @include tablet-landscape {
    flex: 0 0 350px;
  }
}

.product__sizing {
  font-size: 0.8125rem;
  color: #666;
}

.product__option {
  width: 100%;
}