form {
}

form.inline-form {
  display: flex;
}

.input-group {
  margin-bottom: 1rem;
}

input,
textarea {
  appearance: none;
  border: 1px solid $gray;
  border-radius: 0;
  width: 100%;
  padding: 0.5rem;
  outline: none;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: $accent-color;
}

form.newsletter-signup {
  text-align: center;
  margin: $gutter 0;
  overflow: hidden;
}

.newsletter-signup__input-group {
  width: 100%;
  max-width: 500px;
  display: flex;
}

.newsletter-signup__email-field {
  flex: 1 1 auto;
}

input.newsletter-signup__submit {
  flex: 0 0 auto;
  width: auto;
  font-size: 0.8125rem;

  @include tablet-portrait {
    font-size: 1rem;
  }
}

select {
  appearance: none;
  border: 1px solid $gray;
  border-radius: 0;
  padding: 0.5rem;
  padding-right: $gutter;
  color: $body-font-color;
  background-image: url('/images/ui/select-indicator.svg');
  background-color: $white;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: right 10px center;
  overflow: hidden;
}

select:hover,
select:focus {
  border-color: $accent-color;
}