* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  @include transition;
  background-color: $background-color;
  position: absolute;
  top: -100vh;
  right: 0;
  left: 0;
}

.oncanvas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include tablet-portrait {
    border: 1rem solid $white;
    border-top: none;
  }
}

body.offcanvas {
  transform: translateY(100vh);
  overflow: hidden;
  -webkit-overflow-scrolling: hidden;
}

header {
  background-color: $background-border;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  z-index: 1
}

header.header--frontpage {
}

main {
  flex: 0 0 auto;
  margin-top: 4rem;
}

footer {
  background-color: $footer-color;
  padding-top: 4rem;
}

.footer__inner {
  max-width: 85rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;

  @include tablet-portrait {
    padding: 0 2rem;
  }

  @include tablet-portrait {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.content {
  flex: 0 0 auto;
  max-width: 85rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: $gutter-small;

  @include tablet-portrait {
    padding: $gutter;
  }
}

.content::after {
  content: " ";
  display: block;
  clear: both;
}

.content-narrow {
  max-width: 50rem;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}