$height-options: (
  h100: 100vh,
  h75: 75vh,
  h66: 66vh,
  h50: 50vh
);

@each $height-class, $height in $height-options {
  .#{$height-class} {
    min-height: $height;
  }
}

.scroll--horizontal {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.scroll--vertical {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.align--middle {
  align-items: center;
}

.align--stretch {
  align-items: stretch;
}

.hidden {
  display: none;
}

.image--centered {
  margin: auto;
}

.marginless--bottom {
  margin-bottom: 0;
}

.marginless--top {
  margin-top: 0;
}

@mixin truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.darken {
  filter: brightness(97%)
}