.card__color-bar
	- data.products.instance_eval(product).colors.each do |color|
	  .color-icon data-color=color.sku data-image-path=color.default_image style="background: linear-gradient(180deg, #{color.first_color}, #{color.first_color} 65%, #{color.second_color} 65%, #{color.second_color} 100%); border: 0px solid #{color.first_color}" title=(color.name)