<div class="panel panel--odd">
  <div class="content">
    <div class="row between-xs reverse-xs">
      <div class="col-xs-12 col-sm-6">
        <form action="https://getsimpleform.com/messages?form_api_token=8dd3a2f925d838c6c128f0210200a754" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='https://www.lunge.com/done' />
          <!-- all your input fields here.... -->
          <div class="input-group">
            <label>Ihre E-Mail</label>
            <input type="email" name="email">
          </div>

          <div class="input-group">
            <label>Name</label>
            <input type="text" name="name">
          </div>

          <div class="input-group">
            <label>Betreff</label>
            <input type="text" name="subject">
          </div>

          <div class="input-group">
            <label>Nachricht</label>
            <textarea rows=16 name="message"></textarea>
          </div>

          <button id="submit-button" type="submit" class="button">Absenden</button>
        </form>
      </div>

      <div class="col-xs-12 col-sm-5">
        <h4>Haben Sie sich schon im Support Bereich umgesehen?</h4>
        <p>Häufig erreichen uns Anfragen, die bereits im Support-Bereich beantwortet wurden. Egal ob Zweifel bei der Auswahl der richtigen Schuhgröße, Pflegetipps oder Fragen zu Versand und Bestellablauf.</p>
        <%= link_to "Diese und andere Antworten finden Sie hier...", "/support", class: "link" %>
      </div>
    </div>
  </div>
</div>

<script>!function(e,o,n){window.HSCW=o,window.HS=n,n.beacon=n.beacon||{};var t=n.beacon;t.userConfig={},t.readyQueue=[],t.config=function(e){this.userConfig=e},t.ready=function(e){this.readyQueue.push(e)},o.config={docs:{enabled:!1,baseUrl:""},contact:{enabled:!0,formId:"41a9d544-7a43-11e6-91aa-0a5fecc78a4d"}};var r=e.getElementsByTagName("script")[0],c=e.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://djtflbt20bdde.cloudfront.net/",r.parentNode.insertBefore(c,r)}(document,window.HSCW||{},window.HS||{});</script>

<script>
  HS.beacon.config({
    icon: 'question',
    color: '#B6BE00',
    topArticles: true,
    translation: {
      nameLabel: 'Ihr Name',
      nameError: 'Bitte geben Sie Ihren Namen an.',
      emailLabel: 'Ihre E-Mail Adresse',
      emailError: 'Bitte geben Sie eine gültige E-Mail ein.',
      subjectLabel: 'Betreff',
      
    },
    topics: [
      { val: 'frage-zum-produkt', label: 'Schuhe und Produkte' },
      { val: 'bestellung-und-shop', label: 'Bestellung und Shop'},
      { val: 'probleme', label: 'Probleme'},
      { val: 'sonstiges', label: 'Sonstiges'},
    ],
    attachment: true,
    instructions:'Haben Sie Fragen, Kritik, Lob oder Probleme? Schreiben Sie uns.'
  });
</script>
