li.product-feature__item data-tooltip="High quality materials: Only clean, non-toxic materials with Ökotex 100 certification are used."
  = image_tag "/images/misc/eco-globe.svg", class: "product-feature__icon"