---
title: Kontakt
keywords: lunge, kontakt, telefon, email, adresse, mail
description: Haben Sie Fragen? Nehmen Sie Kontakt mit uns auf.
canonical_link: "https://www.lunge.com/contact/"
url_de: "https://www.lunge.com/contact/"
url_en: "https://www.lunge.com/en/contact/"
sitemap_noindex: true
---
.title__container.title__container--dark
	.title__inner
  	.content.content--narrow
    	h1 Kontakt
    	p Haben Sie Fragen, Anregungen, Feedback oder Kritik? Sprechen Sie mit uns

.panel
	.content.content--narrow
		h4 Haben Sie sich schon im Support Bereich umgesehen?
		p Ganz gleich ob Zweifel bei der Auswahl der richtigen Schuhgröße, Pflegetipps oder Fragen zu Versand und Bestellablauf - hier finden Sie möglicherweise bereits die Antwort auf Ihre Frage.
		= link_to "Support", "/support", class: "button"
		hr
		p 
			| Sollten wir Ihre Fragen noch nicht beantwortet haben, melden Sie sich doch gerne bei uns: 
			= link_to "info@lunge.com", "mailto:info@lunge.com", class: "link"