---
title: Jobs
description: Job- und Stellenangebote
section: manufacture
canonical_link: "https://www.lunge.com/jobs/"
url_de: "https://www.lunge.com/jobs/"
sitemap_priority: 0.5
sitemap_changefreq: weekly
lang: de
---
.title__container.title__container--dark
  .title__inner
    .content.content--narrow
      h1 Jobs

.panel
  .content.content--narrow
    p Derzeit liegen keine offenen Stellenausschreibungen vor.