---
title: Fachhändler vor Ort
description: Finden Sie Fachhändler vor Ort, die Lunge Schuhe führen.
canonical_link: "https://www.lunge.com/retailers/"
url_de: "https://www.lunge.com/retailers/"
url_en: "https://www.lunge.com/en/retailers/"
section: retailers
---

.title__container.title__container--dark
  .title__inner
    .content.content--narrow
      h1 Fachhändler vor Ort
      p Finden Sie einen Lunge-Fachhändler in Ihrer Nähe und nehmen Sie die kompetente Beratung vor Ort in Anspruch.

.map#map
#listings
  .map__list

.panel
  .content.content--narrow.text-center
    h3 Kein Händler in Ihrer Nähe?
    p Bestellen Sie bequem bei uns im Shop. Versandkostenfrei und ohne Risiko.
    = link_to "zum Shop", "/products/", class: "button"
  .content
    = partial "partials/shop_features"

- content_for :custom_assets
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAGLRt1xAtAgjvg9qJURzumMJw_JpfwHVg&callback=initMap", async: true, defer: true
  = javascript_include_tag "/javascripts/markerclusterer.js"

javascript:
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 50.974, lng: 11.0326},
      zoom: 6,
      scrollwheel: false
    });

    var infowindow = null;

    $.getJSON( '/retailers.geojson', function( data ) {
      var locations = data.features;

      var markers = locations.map(function(location, i) {
        var popupContent = 
          '<div class="popup__content">' +
            '<h4>' + location.properties.name + '</h3>' +
            '<p>' +
            '<label>Adresse</label>' +
            location.properties.address + '<br>' +
            location.properties.zip + ' ' + location.properties.city + '<br>' +
            location.properties.country +
            '</p>' +
            '<p>' +
            '<label>Telefon</label>' +
            location.properties.phone +
            '</p>' +
            '<p>'+
            '<a class="link" href="' + encodeURI(location.properties.website) + '" target="_blank">Website</a>' +
            '</p>' +
          '</div>';

        var infoWindow = new google.maps.InfoWindow({
          content: popupContent,
          maxWidth: 300
        });

        var marker = new google.maps.Marker({
          map: map,
          position: {lat: location.geometry.coordinates[1], lng: location.geometry.coordinates[0]},
          title: location.properties.name
        })

        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        });

        $('.map__list').append(
          '<div class="map__list__item">' +
            '<h4 class="map__list__item__title">' + location.properties.name + '</h3>' +
            '<p>' +
              location.properties.address + '<br>' +
              location.properties.zip + ' ' + location.properties.city + '<br>' +
              location.properties.country +
            '</p>' +
            '<p>' +
              'Tel.: ' + location.properties.phone +
            '</p>' +
            '<p>'+
              '<a class="map__list__item__action link" href="' + encodeURI(location.properties.website) + '" target="_blank">Website</a>' +
            '</p>' +
          '</div>'
        );

        return marker
      });
    });
  }
  
